= simple_form_for(@plant) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  = f.input :name

  = f.button :submit, "Save", data: { "disable-with": "Saving..." }
  = link_to "Cancel", cancel_path, class: "btn btn-default"
